# ===============================
# SYSTEM & IDE
# ===============================
*.class
*.log
*.pyc
*.swp
.DS_Store
.idea/
*.iml
*.ipr
*.iws
.vscode/

# ===============================
# FLUTTER / DART
# ===============================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/
**/doc/api/
**/ios/Flutter/.last_build_id

# ===============================
# ANDROID
# ===============================
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
android/gradle.properties

# Keystore & signing
*.jks
*.keystore

# ===============================
# FIREBASE
# ===============================
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart
serviceAccount*.json
firebase-adminsdk*.json

# Firebase Functions
functions/node_modules/

# ===============================
# ENV FILES
# ===============================
.env
.env.*
*.env

# ===============================
# OTHER
# ===============================
app.*.symbols
app.*.map.json
